body{
  background-color: gray;
}

.name{
  font-size: 50px;
  color: yellow;
  background-color: black;
  border: 0px solid white;
  padding: 0px;
  text-align: center;
}
img{
  width: 100;
  height: 100;
  display: flex;
}

.opening{
  border: 5px solid black;
  text-align: center;
}

a{
  color: #fed03d;
}

p{
  color: #fed03d;
  margin-top: 0px;
}


h2{
  color: #0000ff;
  margin-bottom: 0px;
}

div{
  border: 3px solid red;
}

.movies{
  color: #fef65b;
  margin-bottom: 0px;
  border: 5px dashed #0000ff;
}

h1{
  margin-bottom: 10px;
}
